<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - mlrdtechnologies.com</title>
    <meta name="keywords" content="@ViewBag.Keywords - mlrdtechnologies.com">
    <meta name="description" content="@ViewBag.Description - mlrdtechnologies.com">

    <!-- Open Graph data -->
    <meta property="og:title" content="MLRD Technologies - mlrdtechnologies.com" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://mlrdtechnologies.com/" />
    <meta property="og:image" content="@ViewBag.Image" />
    <meta property="og:description" content="@ViewBag.Description - mlrdtechnologies.com" />
    <meta property="og:site_name" content="MLRD Technologies" />
    <meta property="article:section" content="Article Section" />
    <meta property="article:tag" content="@ViewBag.Keywords - mlrdtechnologies.com" />
    <meta property="fb:admins" content="141083419872223" />


    <meta itemprop="name" content="MLRD Technologies - mlrdtechnologies.com">
    <meta itemprop="description" content="@ViewBag.Description - mlrdtechnologies.com">
    <meta itemprop="image" content="@ViewBag.Image">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@string.Concat("@","MLRD Technologies")">
    <meta name="twitter:title" content="@ViewBag.Title - mlrdtechnologies.com">
    <meta name="twitter:description" content="@ViewBag.Description - mlrdtechnologies.com">
    <meta name="twitter:creator" content="@string.Concat("@","MLRD Technologies")">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="@ViewBag.Image">

    <script type="application/ld+json">
        {
        "@string.Concat("@", "context")": "http://schema.org",
        "@string.Concat("@", "type")": "Organization",
        "name": "MLRD Technologies",
        "url": "http://mlrdtechnologies.com",
        "email": "contact@mlrdtechnologies.com",
        "logo":"http://mlrdtechnologies.com/assets/images/logo.png",
        "image": "http://mlrdtechnologies.com/assets/images/logo.png",
        "description": "MLRD Technologies, Provides multiple services in web development, mobile development, desktop applications and various digital marketing solutions like, Bulk SMS, email marketing & IVR. We are also running many of our products.",
        "contactPoint": {
        "@string.Concat("@", "type")": "ContactPoint",
        "telephone": "+91 8010405718",
        "contactType": "Customer service"
        },
        "sameAs" : [
        "https://www.facebook.com/citydonor/",
        "https://twitter.com/city_donor",
        "https://www.linkedin.com/company/city-donor/",
        "https://www.youtube.com/channel/citydonor",
        "https://www.instagram.com/citydonor/"
        ]
        }
    </script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Start: Preloader
    ============================= -->

    <div class="preloader">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- End: Preloader
    ============================= -->
    <!-- Start: Header Top
    ============================= -->
    <section id="header-top">
        <div class="container">

            <div class="row">
                <div class="col-lg-9 col-md-12 text-lg-left mb-2 mb-lg-0">
                    <ul class="header-info d-inline-block">
                        <li><a href="tel:+918010405718"><i class="fas fa-phone"></i>+91 8010405718</a></li>
                        <li><a href="mailto:contact@mlrdtechnologies.com"><i class="fas fa-envelope"></i>contact@mlrdtechnologies.com</a></li>
                        <!--<li><a href="#"><i class="fas fa-question"></i>Ask Your Question</a></li>-->
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 text-center text-lg-right mb-lg-0 mb-1">
                    <ul class="header-social d-inline-block">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End: Header Top
    ============================= -->
    <!-- Start: Search
    ============================= -->

    <div id="search">
        <a href="#" id="close-btn">
            <i class="fa fa-times"></i>
        </a>
        <div>
            <input placeholder="type here" id="searchbox" type="search" />
            <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
        </div>
    </div>

    <!-- End: Search
    ============================= -->
    <!-- Start: Navigation
    ============================= -->
    <section class="navbar-wrapper">
        <div class="navbar-area sticky-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="logo main">
                            <!--a href="index.html"><img class="responsive" src="/assets/img/logo.png" alt="Startkit"></a>-->
                            <a href="@Url.Action("Index", "Home")">
                                <div>
                                    <span style="font-size:28px; font-weight:bolder; color:#000;">M L R D.</span>
                                    <span style="font-size:32px; color:#ff5d00;"> | </span>
                                    <span style="color:#ff5d00;font-size:26px; font-family:'Courier New'"> Technologies</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-10 d-none d-lg-block text-right">
                        <nav class="main-menu">
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                                <li><a href="@Url.Action("Index", "Services")">Services</a></li>
                                <li><a href="@Url.Action("Index", "Projects")">Projects</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
            <!-- Start Mobile Menu -->
            <div class="mobile-menu-area d-lg-none">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <nav class="mobile-menu-active">
                                    <ul>
                                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                        <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                                        <li><a href="@Url.Action("Index", "Services")">Services</a></li>
                                        <li><a href="@Url.Action("Index", "Projects")">Projects</a></li>
                                        <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Mobile Menu -->
        </div>
    </section>
    <!-- End: Navigation
    ============================= -->

    @RenderBody()
    <!-- Start: Footer Sidebar
    ============================= -->
    <footer id="footer-widgets">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mb-lg-0 mb-4">
                    <aside class="widget widget_about">
                        <div class="footer-logo">
                            <!--<img src="/assets/img/logo.png" alt="">-->
                            <a href="@Url.Action("Index", "Home")">
                                <div>
                                    <span style="font-size:28px; font-weight:bolder; color:#000;">M L R D.</span>
                                    <span style="font-size:32px; color:#ff5d00;"> | </span>
                                    <span style="color:#ff5d00;font-size:26px; font-family:'Courier New'"> Technologies</span>
                                </div>
                            </a>
                        </div>
                        <p>MLRD Technologies, Provides multiple services in web development, mobile development, desktop applications and various digital marketing solutions like, Bulk SMS, email marketing & IVR. We are also running many of our products.</p>
                    </aside>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 mb-lg-0 mb-4">
                    <aside class="widget widget_links">
                        <h4 class="widget-title">Usefull Links</h4>
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                            <li><a href="@Url.Action("Index", "Services")">Services</a></li>
                            <li><a href="@Url.Action("Index", "Projects")">Projects</a></li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                        </ul>
                    </aside>
                </div>

                <!--<div class="col-lg-2 col-md-6 col-sm-12">
                    <aside class="widget widget_recent">
                        <h4 class="widget-title">Social Links</h4>
                        <ul class="widget-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </aside>
                </div>-->
                <div class="col-lg-4 col-md-6 col-sm-12 mb-lg-0 mb-md-0 mb-4">
                    <aside class="widget widget_contact">
                        <h4 class="widget-title">Contact information</h4>
                        <ul>
                            <li><i class="fas fa-map-marker"></i>Sector 126, Noida - 201304. UP.</li>
                            <li><i class="fas fa-envelope"></i>contact@mlrdtechnologies.com</li>
                            <li><i class="fas fa-phone"></i>(+91) 8010405718</li>
                        </ul>
                        <!--<form class="#" action="#">
                            <input type="text" placeholder="Enter your email">
                            <button class="subscribe-btn boxed-btn" type="submit">Subscribe</button>
                        </form>-->
                    </aside>
                </div>
            </div>

        </div>
    </footer>
    <!-- End: Footer Sidebar
    ============================= -->
    <!-- Start: Footer Copyright
    ============================= -->

    <section id="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 text-lg-left text-center mb-lg-0 mb-3 copyright-text"><p>Copyrights © 2018 All Rights Reserved, Powered by <a href="#">MLRD Technologies</a>.</p></div>
                <div class="col-lg-6 col-12">
                    <ul class="text-lg-right text-center payment-method">
                        <li><a href="#"><i class="fab fa-paypal"></i></a></li>
                        <li><a href="#"><i class="fab fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fab fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fab fa-cc-amazon-pay"></i></a></li>
                    </ul>
                    <a href="#" class="scrollup boxed-btn"><i class="fas fa-arrow-up"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- End: Footer Copyright
    ============================= -->

    @Scripts.Render("~/bundles/jquery")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
